@font-face {
    font-family: Memphis_ExtraBold;
    src: url('../fonts/Memphis-ExtraBold.eot');
    src: url('../fonts/Memphis-ExtraBold.woff') format('woff'), 
            url('../fonts/Memphis-ExtraBold.ttf')  format('truetype');
}
@font-face {
    font-family: Helvetica_Bold;
    src: url('../fonts/Helvetica-Bold-02.ttf')  format('truetype')
}
@font-face {
    font-family: Helvetica_BoldOblique;
    src: url('../fonts/Helvetica-BoldOblique-04.ttf')  format('truetype')
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.font_memphis {
    font-family: Memphis_ExtraBold;
}

.font_helvetica_bold {
    font-family: Helvetica_Bold;
}

.font_helvetica_boldOblique {
    font-family: Helvetica_BoldOblique;
}

.pos_rel {
    position: relative;
}


.prize_section {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}
.hall_bg {
    background-image: url(../images/hall.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
}

.title {
    width: 60%;
}

.subtitle1 {
    position: relative;
    z-index: 2;
    width: 60%;
    max-height: 100%;
}

.prize1 {
    position: relative;
    z-index: 1;
    margin: -6% auto -4% auto;
    width: 100%;
    max-height: 100%;
}

.prize2, .prize3 {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;
    max-height: 100%;
}

.logo_container {
    text-align: right;
    padding: 3%;
    display: block;
    width: 100%;
    height: 17%;
}

.logo_container img {
    max-height: 100%;
}

.player_ball {
    margin-left: -60%;
    z-index: 3;
    position: relative;
    width: 100%;
    max-height: 100%;
}

.form_section {
    background: radial-gradient(#cc2029, #7c1517);
    height: 100%;
    width: 100%;
    padding: 5%;
    position: relative;
}

.langkah1 {
    background: radial-gradient(#fff9c1, #ddc688);
    border-radius: 25px;
    position: relative;
    width: 100%;
}
.langkah2 {
    background: radial-gradient(#106bb1, #161c46);
    border-radius: 25px;
    position: relative;
    width: 100%;
}
.langkah3 {
    background: radial-gradient(#fff9c1, #ddc688);
    border-radius: 25px;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.langkah_label_1,
.langkah_label_2,
.langkah_label_3 {
    height: 10rem;
    width: 10rem;
    position: absolute;
    z-index: 5;
}

.langkah_label_1 {
    top: 30%;
    left: -4%;
}
.langkah_label_2 {
    top: 35%;
    left: -4%;
}
.langkah_label_3 {
    top: 16%;
    left: -4%;
}

.langkah_container {
    padding: 2rem 2rem 2rem 5rem;
}

.langkah1_title {
    font-family: Memphis_ExtraBold;
    color: #002e6e;
    font-size: 2rem;
}

.langkah1_small_title {
    font-size: 1rem;
}

.langkah1 label {
    font-family: Helvetica_BoldOblique;
}

.langkah1 label,
.langkah1 input  {
    line-height: 1rem;
}

.langkah2 {
    color: #fff;
}

.langkah2_title {
    font-family: Memphis_ExtraBold;
}

.langkah2_date {
    font-weight: bold;
}

.contoh_container {
    border-top : 1px solid #fff;
    padding: 5% 0;
}

.contoh_label {
    display: table;
    height: 100%;
}

.contoh_label i {
    display: table-cell;
    vertical-align: middle;
    font-size: 1rem;
}

.jawapan_input {
    color: #cc2029;
    font-weight: bold;
    margin: 0 0 0.5rem 0.5rem;
}

.jawapan_input:focus {
    color: #cc2029;
}

.center_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}

.center_content img {
    display: block;
    margin: auto;
}

.imageUpload { 
    position: relative;
    height: 15rem;
    width: 12rem;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    cursor: pointer;
    font-size:1.2rem;
    line-height: 1.2rem;
    margin: auto;
}

.imageUpload img {
    margin-top: 20%;
    margin-bottom: 5%;
    cursor: pointer;
    height: 14%;
}

.imageUpload input {
    opacity: 0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    width: 100%; 
    height:100%;
    cursor: pointer;
}

.img_cans {
    position: relative;
    height: 17vw;
    min-height: 10rem;
    max-width: 100%;
    max-height: 100%;
    margin-top: 4%;
}

.TS {
    color: #ed1c24;
    border-bottom: 1px solid #ed926e;
    /* font-weight: bold; */
    font-style: italic;
    font-family: Memphis_ExtraBold;
}

.custom_checkbox {
    height: 2rem;
    width: 2rem;
}

.btn_hantar {
    width: 100%;
    cursor: pointer;
}

.btn_hantar img {
    width: 100%;
}

.langkah_desc {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffff7f;
}

footer {
    color: #fff;
}

.btn_fb {
    cursor: pointer;
}

.btn_fb img{
    width: 2rem;
    margin-right: 1%;
}

.btn_fb span{
    font-weight: bold;
    color: #fff;
    font-size: 1.2rem;
    vertical-align: bottom;
}

.grid { 
    margin:1em auto; 
    border-collapse:collapse;
    position: absolute;
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

.grid tbody {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

.grid tbody {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

.grid td {
    cursor: pointer;
    width: 1rem; 
    height: 1rem;
    border: 1px solid #cccccc70;
}
.grid td:hover {
    background-color:yellow;
    font-weight:bold; color:red;
}