@font-face {
    font-family: Memphis_ExtraBold;
    src: url('../fonts/Memphis-ExtraBold.eot');
    src: url('../fonts/Memphis-ExtraBold.woff2') format('woff2'), 
            url('../fonts/Memphis-ExtraBold.woff') format('woff'), 
            url('../fonts/Memphis-ExtraBold.ttf')  format('truetype')
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.prize-section {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}
.hall-bg {
    background-image: url(../images/hall.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
}

.title {
    width: 60%;
}

.subtitle1 {
    position: relative;
    z-index: 2;
    width: 60%;
    max-height: 100%;
}

.prize1 {
    position: relative;
    z-index: 1;
    margin: -6% auto -4% auto;
    width: 100%;
    max-height: 100%;
}

.prize2, .prize3 {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;
    max-height: 100%;
}

.logo-container {
    text-align: right;
    padding: 3%;
    display: block;
    width: 100%;
    height: 17%;
}

.logo-container img {
    max-height: 100%;
}

.player-ball {
    margin-left: -60%;
    z-index: 3;
    position: relative;
    width: 100%;
    max-height: 100%;
}

.form-section {
    background: radial-gradient(#cc2029, #7c1517);
    height: 100%;
    width: 100%;
    padding: 10%;
    position: relative;
}

.langkah1 {
    background: radial-gradient(#fff9c1, #ddc688);
    border-radius: 25px;
    position: relative;
    width: 100%;
}
.langkah2 {
    background: radial-gradient(#106bb1, #161c46);
    border-radius: 25px;
    position: relative;
    width: 100%;
}
.langkah3 {
    background: radial-gradient(#fff9c1, #ddc688);
    border-radius: 25px;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.langkah-label {
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 40%;
    left: -3.5%
}

.l1t-container {
    padding: 1rem 1rem 1rem 5rem;
}

.langkah1-title {
    font-family: Memphis_ExtraBold;
    color: #002e6e;
}
